/Funciones/nbproject/private/
/Funciones/build/
/Formulario/nbproject/private/
/Formu/nbproject/private/
/AplicacionFormulario/nbproject/private/
/AplicacionFormulario/build/
/Gestion_de_Clientes/nbproject/private/
/Gestion_de_Clientes/build/
/Gestion_de_Clientes/dist/
/JavaApplication26/nbproject/private/
/JavaApplication26/build/